h1 {
    background-color: #e3f4ff;
    color: darkslategrey;
    margin: 0 auto;
    text-align: center;
    padding: 16px 8px;
    width: 600px;
}

body {
    font-family: "Courier New", sans-serif ;
}

.description {
    font-weight: bold;
    color: cornflowerblue;
    background-color: black;
}

a {
    font-size: 18px;
    font-weight: bold;
}